
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DynamicPageManager</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @model ContenManagementSystem.Models.PageManagerView
    @using (Html.BeginForm("savePageSettings","Page"))
    {
    <div class="container">
        <div class="row">
            <label for="page">Page : </label>
            @Html.DropDownListFor(m=>m.pages,Model.pages)
            <br />
            <label for="section">Section : </label>
            <select id="section" name="SectionId">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <br />
            <label for="numberOfDivisions">Number of divisions : </label>
            <input id="numberOfDivisions" name="NumberOfDivisions" type="number" max="3" min="1" />
            <br />
            <label for="division">Division : </label>
            <select id="division" name="DivisionId">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <br />
            <label for="sectiontext">Section Text : </label>
            <textarea rows="5" id="sectiontext" name="Sectiontext"></textarea>
            <br />
            <input type="submit" value="Update" />
        </div>
    </div>
    }
</body>
</html>
