body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#Desc_mainGrid {
    padding: 1em;
    display:grid;
    grid-template-areas:'maindesc maindesc hours staff staff'
                    'secDesc secDesc hours staff staff';
}
    #Desc_mainGrid #maindesc {
        grid-area:maindesc;
    }

    #Desc_mainGrid #secDesc {
        grid-area: secDesc;
        display: flex;
        flex-wrap:wrap;
        justify-content:space-around;
    }

    #Desc_mainGrid #hours {
        grid-area:hours;
        display:block;
    }

            #Desc_mainGrid #hours td {
                padding: 0 1em;
            }

    #Desc_mainGrid #staff {
        grid-area: staff;
        min-width: 400px;
      
    }
    #Desc_mainGrid #staff h4 {
        padding-left: 1em;
    }
        #Desc_mainGrid #staffFlex {
    text-align: center;
    grid-area: staff;
    display: flex;
    justify-content: space-evenly;
}

 
  
            #Desc_mainGrid .staffdiv {
        
                width:50px;
                overflow:hidden;
                color: #2b2b2b;
            }

            #Desc_mainGrid .staffdiv p {
                font-size: smaller;
            }